//colours
$white: #FFFFFF;
$offwhite: #ebebeb;
$green: #8fea15;
$darkbrown: #231a17;
$black: #000000;
$lightblue: #B5D0E2;
$darkblue: #2099E8;
$light-grey: #AAAAAA;
$light-grey-border: #DDDDDD;
$light-color: #aaaaaa;